<section>
    <div class="container">
        <div class="gutter-grid">
            <div class="col-7 col-push-1">
                {{ post.post_content }}
            </div>
        </div>
    </div>
</section>
