{% extends 'base.twig' %}

{% block header %}
    <meta name="robots" value="index">
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="gutter-grid">
                <div class="col-7 col-push-1">
                    {{ function('the_content') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
